{{ ansible_managed | comment }}

[skeleton]
enabled = true
port = 80,443{% if skeleton_port > 0 %},{{ skeleton_port }}{% endif %}
{% if not skeleton_log_systemd and skeleton_log_file %}
logpath = {{ skeleton_log_file }}
filter = skeleton
{% else %}
backend = systemd
filter = skeleton[journalmatch='_SYSTEMD_UNIT={{ skeleton_daemon }}.service']
{% endif %}
maxretry = {{ skeleton_fail2ban_maxretry }}
findtime = {{ skeleton_fail2ban_findtime }}
bantime = {{ skeleton_fail2ban_bantime }}

# {% if skeleton_cloudflare_enabled %}
# action = cloudflare
#     iptables-allports
# {% else %}
# banaction = %(banaction_allports)s
# {% endif %}
